.body{
    background: white;
    color: blueviolet;
    margin: 0px;
    text-align: center;
}

.conteudo{
    color: blueviolet;
    text-align: center;
}

header{
    font-size: 25px;
    color: blueviolet;
    text-align: center;
}

.Brownie {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.receitas {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
    color: blueviolet;
    text-align: center;
}